# Desafio: Limpeza dados IBGE

In [1]:
import pandas as pd

In [2]:
ibge_url = "https://gist.githubusercontent.com/tgcsantos/85f8c7b0a2edbc3e27fcad619b37d886/raw/a4954781e6bca9cb804062a3eea0b3b84679daf4/Basico_SP1.csv"
dados_ibge = pd.read_csv(ibge_url, sep=";", encoding="iso-8859-1", decimal=",")
dados_ibge

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
0,355030801000001,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86,NaN
1,355030801000002,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94,NaN
2,355030801000003,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74,NaN
3,355030801000004,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24,NaN
4,355030801000005,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18358,355030896000243,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.61,772.09,168751.10,814.52,143188.21,467.46,191332.48,699.95,123399.08,NaN
18359,355030896000244,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.49,692.50,239941.27,812.93,182516.20,439.33,194034.99,702.10,124952.38,NaN
18360,355030896000245,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.54,630.06,329705.22,843.31,260395.90,347.60,228162.66,767.50,181129.99,NaN
18361,355030896000246,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,4.21,597.37,349101.00,908.00,244391.67,397.76,436942.16,854.20,550319.43,NaN
18362,355030896000247,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.28,630.13,183904.29,790.88,102860.11,431.82,186963.45,728.70,98771.74,NaN

## Limpeza do dataframe

In [3]:
dados_ibge.columns

Index(['Cod_setor', 'Cod_Grandes Regiï¿½es', 'Nome_Grande_Regiao', 'Cod_UF',
       'Nome_da_UF ', 'Cod_meso', 'Nome_da_meso', 'Cod_micro', 'Nome_da_micro',
       'Cod_RM', 'Nome_da_RM', 'Cod_municipio', 'Nome_do_municipio',
       'Cod_distrito', 'Nome_do_distrito', 'Cod_subdistrito',
       'Nome_do_subdistrito', 'Cod_bairro', 'Nome_do_bairro', 'Situacao_setor',
       'Tipo_setor', 'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007',
       'V008', 'V009', 'V010', 'V011', 'V012', 'Unnamed: 33'],
      dtype='object')

In [4]:
#Dataframe contempla apenas imóveis de São Paulo
dados_ibge["Cod_municipio"].unique()

array([3550308])

In [5]:
ibge_sp = dados_ibge.iloc(axis = 1)[15:]
ibge_sp

,Cod_subdistrito,Nome_do_subdistrito,Cod_bairro,Nome_do_bairro,Situacao_setor,Tipo_setor,V001,V002,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
0,35503080100,ï¿½GUA RASA,3550308000,Sï¿½O PAULO (todos os setores),1,0,266.0,800.0,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86,NaN
1,35503080100,ï¿½GUA RASA,3550308000,Sï¿½O PAULO (todos os setores),1,0,306.0,913.0,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94,NaN
2,35503080100,ï¿½GUA RASA,3550308000,Sï¿½O PAULO (todos os setores),1,0,189.0,625.0,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74,NaN
3,35503080100,ï¿½GUA RASA,3550308000,Sï¿½O PAULO (todos os setores),1,0,181.0,572.0,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24,NaN
4,35503080100,ï¿½GUA RASA,3550308000,Sï¿½O PAULO (todos os setores),1,0,240.0,754.0,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18358,35503089600,LAJEADO,3550308000,Sï¿½O PAULO (todos os setores),1,1,96.0,336.0,3.50,2.61,772.09,168751.10,814.52,143188.21,467.46,191332.48,699.95,123399.08,NaN
18359,35503089600,LAJEADO,3550308000,Sï¿½O PAULO (todos os setores),1,1,54.0,209.0,3.87,2.49,692.50,239941.27,812.93,182516.20,439.33,194034.99,702.10,124952.38,NaN
18360,35503089600,LAJEADO,3550308000,Sï¿½O PAULO (todos os setores),1,1,87.0,339.0,3.90,2.54,630.06,329705.22,843.31,260395.90,347.60,228162.66,767.50,181129.99,NaN
18361,35503089600,LAJEADO,3550308000,Sï¿½O PAULO (todos os setores),1,0,38.0,163.0,4.29,4.21,597.37,349101.00,908.00,244391.67,397.76,436942.16,854.20,550319.43,NaN
18362,35503089600,LAJEADO,3550308000,Sï¿½O PAULO (todos os setores),1,1,123.0,464.0,3.77,3.28,630.13,183904.29,790.88,102860.11,431.82,186963.45,728.70,98771.74,NaN

In [6]:
#Todos os bairros estão com o mesmo código (bug)
ibge_sp['Cod_bairro'].unique()

array([3550308000])

In [7]:
ibge_sp.drop('Cod_bairro', axis=1, inplace=True)

In [8]:
#Coluna com bug
ibge_sp.drop('Unnamed: 33', axis=1, inplace=True)

In [9]:
#Coluna incoerente, com dados iguais
ibge_sp.drop('Nome_do_bairro', axis=1, inplace=True)

In [10]:
ibge_sp

,Cod_subdistrito,Nome_do_subdistrito,Situacao_setor,Tipo_setor,V001,V002,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,35503080100,ï¿½GUA RASA,1,0,266.0,800.0,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86
1,35503080100,ï¿½GUA RASA,1,0,306.0,913.0,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94
2,35503080100,ï¿½GUA RASA,1,0,189.0,625.0,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74
3,35503080100,ï¿½GUA RASA,1,0,181.0,572.0,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24
4,35503080100,ï¿½GUA RASA,1,0,240.0,754.0,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18358,35503089600,LAJEADO,1,1,96.0,336.0,3.50,2.61,772.09,168751.10,814.52,143188.21,467.46,191332.48,699.95,123399.08
18359,35503089600,LAJEADO,1,1,54.0,209.0,3.87,2.49,692.50,239941.27,812.93,182516.20,439.33,194034.99,702.10,124952.38
18360,35503089600,LAJEADO,1,1,87.0,339.0,3.90,2.54,630.06,329705.22,843.31,260395.90,347.60,228162.66,767.50,181129.99
18361,35503089600,LAJEADO,1,0,38.0,163.0,4.29,4.21,597.37,349101.00,908.00,244391.67,397.76,436942.16,854.20,550319.43
18362,35503089600,LAJEADO,1,1,123.0,464.0,3.77,3.28,630.13,183904.29,790.88,102860.11,431.82,186963.45,728.70,98771.74

In [11]:
# Dicionário de dados do IBGE:
# V001: Domicílios particulares permanentes ou pessoas responsáveis por domicílios particulares permanentes
# V002: Moradores em domicílios particulares permanentes ou população residente em domicílios particulares permanentes
# V003: Média do número de moradores em domicílios particulares permanentes (obtida pela divisão de Var2 por Var1) 
# V004: Variância do número de moradores em domicílios particulares permanentes
# V005: Valor do rendimento nominal médio mensal das pessoas responsáveis por domicílios particulares permanentes (com e sem rendimento)
# V006: Variância do rendimento nominal mensal das pessoas responsáveis por domicílios particulares permanentes (com e sem rendimento)
# V007: Valor do rendimento nominal médio mensal das pessoas responsáveis por domicílios particulares permanentes (com rendimento)
# V008: Variância do rendimento nominal mensal das pessoas responsáveis por domicílios particulares permanentes (com rendimento)
# V009: Valor do rendimento nominal médio mensal das pessoas de 10 anos ou mais de idade (com e sem rendimento)
# V010: Variância do rendimento nominal mensal das pessoas de 10 anos ou mais de idade (com e sem rendimento)
# V011: Valor do rendimento nominal médio mensal das pessoas de 10 anos ou mais de idade (com rendimento)
# V012: Variância do rendimento nominal mensal das pessoas de 10 anos ou mais de idade (com rendimento)

In [12]:
ibge_sp.drop(['V004', 'V005', 'V006', 'V008', 'V010', 'V011', 'V012'], axis = 1, inplace=True)
ibge_sp

,Cod_subdistrito,Nome_do_subdistrito,Situacao_setor,Tipo_setor,V001,V002,V003,V007,V009
0,35503080100,ï¿½GUA RASA,1,0,266.0,800.0,3.01,2164.55,1227.41
1,35503080100,ï¿½GUA RASA,1,0,306.0,913.0,2.98,1717.44,1045.78
2,35503080100,ï¿½GUA RASA,1,0,189.0,625.0,3.31,2349.53,902.97
3,35503080100,ï¿½GUA RASA,1,0,181.0,572.0,3.16,1859.13,869.09
4,35503080100,ï¿½GUA RASA,1,0,240.0,754.0,3.14,1581.66,917.71
...,...,...,...,...,...,...,...,...,...
18358,35503089600,LAJEADO,1,1,96.0,336.0,3.50,814.52,467.46
18359,35503089600,LAJEADO,1,1,54.0,209.0,3.87,812.93,439.33
18360,35503089600,LAJEADO,1,1,87.0,339.0,3.90,843.31,347.60
18361,35503089600,LAJEADO,1,0,38.0,163.0,4.29,908.00,397.76
18362,35503089600,LAJEADO,1,1,123.0,464.0,3.77,790.88,431.82

In [13]:
ibge_sp.columns = ['Cod_bairro', 'Bairro', 'Zona', 'Tipo', 'Domicilios', 'Moradores', 'Moradores_por_domicilio', 'Rend_med_arrimo_familiar', 'Rend_med_familia']
ibge_sp

,Cod_bairro,Bairro,Zona,Tipo,Domicilios,Moradores,Moradores_por_domicilio,Rend_med_arrimo_familiar,Rend_med_familia
0,35503080100,ï¿½GUA RASA,1,0,266.0,800.0,3.01,2164.55,1227.41
1,35503080100,ï¿½GUA RASA,1,0,306.0,913.0,2.98,1717.44,1045.78
2,35503080100,ï¿½GUA RASA,1,0,189.0,625.0,3.31,2349.53,902.97
3,35503080100,ï¿½GUA RASA,1,0,181.0,572.0,3.16,1859.13,869.09
4,35503080100,ï¿½GUA RASA,1,0,240.0,754.0,3.14,1581.66,917.71
...,...,...,...,...,...,...,...,...,...
18358,35503089600,LAJEADO,1,1,96.0,336.0,3.50,814.52,467.46
18359,35503089600,LAJEADO,1,1,54.0,209.0,3.87,812.93,439.33
18360,35503089600,LAJEADO,1,1,87.0,339.0,3.90,843.31,347.60
18361,35503089600,LAJEADO,1,0,38.0,163.0,4.29,908.00,397.76
18362,35503089600,LAJEADO,1,1,123.0,464.0,3.77,790.88,431.82

In [14]:
#salvando o dataframe em csv para consultas futuras
ibge_sp.to_csv("dados/censo_ibge_sp", sep=";", index = False)

In [15]:
# Dicionário IBEG para Código de situação do setor:
# Situação urbana – códigos: 1, 2 e 3
# 1- Área urbanizada de cidade ou vila
# 2- Área não-urbanizada de cidade ou vila
# 3- Área urbana isolada
# Situação rural – códigos: 4, 5, 6, 7 e 8
# 4- Aglomerado rural de extensão urbana
# 5- Aglomerado rural isolado – povoado
# 6- Aglomerado rural isolado – núcleo
# 7- Aglomerado rural isolado - outros aglomerados
# 8- Zona rural, exclusive aglomerado rural

In [16]:
# Dicionário IBEG para Código tipo do setor
# Nesta divulgação indica se o setor é do Tipo aglomerado subnormal ou não. 
# Aglomerado subnormal – código: S (1)
# Outro tipo – código: N (0)
# [OBS: aglomerado subnormal é ocupação irregular]